.flex {
    display: flex;
}

.flex-start {
    flex-direction: flex-start;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.no-text-wrap {
    white-space: nowrap
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}